.w-content {
    width: 100%;
    max-width: 370px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Source Sans Pro';
    margin: 0 auto;
    border: 1px solid #ECF0F5;
}
.w-head-wrap {
    border-bottom: 1px solid #9E9E9E;
}
.w-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ECF0F5;
    padding: 10px 20px;
}
.w-head__balance {
    font-style: normal;
    font-weight: normal;
}
.w-head__balance-price {
    font-weight: bold;
}
.w-order {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #ECF0F5;
    padding: 8px 20px 0;
}
.w-order.w-shopper {
    align-items: flex-end;
}
.w-order-info__head {
    font-weight: bold;
    color: #000000;
}
.w-order-status {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    flex-direction: column;
}
.w-order-info__description {
    margin-top: 5px;
}
.w-order-info__name {
    display: inline-block;
    color: #9E9E9E;
    min-width: 112px;
}
.w-order-status__btn {
    border: none;
    background: #357CA5;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #ffffff;
    padding: 4px 10px;
    cursor: pointer;
}
.w-order-status__btn:focus {
    background: #357CA5;
    border: none;
    outline: none;
}
.w-order-status__btn_indent {
    margin-top: 10px;
}
.check-delivered {
    display: none;
}
.check-delivered__flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #fff;
    padding: 3px 6px;
}
.w-order-status__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px 8px;
}
.w-order-status__icon:last-child {
    margin-top: 8px;
}
.fa {
    display: block;
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
.fa-check {
    background: url("../images/check.svg") no-repeat;
}
.fa-close {
    background: url("../images/close.svg") no-repeat;
}


/*===================*/

.w-tabs {
    padding-top: 20px;
    line-height: 10px;
    background-color: #ECF0F5;
}

.w-tabs>input[type="radio"] {
    display: none;
}

.w-tabs>div {
    /* скрыть контент по умолчанию */
    display: none;

}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4,
#tab-btn-5:checked~#content-5,
#tab-btn-6:checked~#content-6 {
    display: block;
}

.w-tabs>label {
    display: inline-block;
    user-select: none;
    background-color: #ECF0F5;
    cursor: pointer;
    position: relative;

}

.w-tabs>label:not(:first-of-type) {
    border-left: none;
}

.w-tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}

.w-tabs__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 59.3px;
    padding: 10px 0;
}
.w-tabs__icon {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.w-tabs>input[type="radio"]:checked+label.w-tabs__label .w-tabs__icon.w-tabs__icon-geo {
    background: url("../images/geo-active.png") no-repeat;
    width: 15px;
    height: 20px;
}
.w-tabs__icon-geo {
    background: url("../images/geo-noactive.png") no-repeat;
    width: 15px;
    height: 20px;
}
.w-tabs>input[type="radio"]:checked+label.w-tabs__label .w-tabs__icon.w-tabs__icon-sms {
    background: url("../images/sms-active.png") no-repeat;
}
.w-tabs__icon-sms {
    background: url("../images/sms-noactive.png") no-repeat;
}
.w-tabs>input[type="radio"]:checked+label.w-tabs__label .w-tabs__icon.w-tabs__icon-tel {
    background: url("../images/tel-active.png") no-repeat;
    width: 18px;
    height: 18px;
}
.w-tabs__icon-tel {
    background: url("../images/tel-noactive.png") no-repeat;
    width: 18px;
    height: 18px;
}
.w-tabs>input[type="radio"]:checked+label.w-tabs__label .w-tabs__icon.w-tabs__icon-mail {
    background: url("../images/mail-active.png") no-repeat;
    width: 20px;
    height: 20px;
}
.w-tabs__icon-mail {
    background: url("../images/mail-noactive.png") no-repeat;
}
.w-tabs>input[type="radio"]:checked+label.w-tabs__label .w-tabs__icon.w-tabs__icon-vk {
    background: url("../images/vk-active.png") no-repeat;
}
.w-tabs__icon-vk {
    background: url("../images/vk-noactive.png") no-repeat;
}
.w-tabs>input[type="radio"]:checked+label.w-tabs__label .w-tabs__icon.w-tabs__icon-whatsapp {
    background: url("../images/whatsapp-active.png") no-repeat;
}
.w-tabs__icon-whatsapp {
    background: url("../images/whatsapp-noactive.png") no-repeat;
}
.w-tabs-content {
    background-color: #ffffff;
    padding: 10px 20px 0;
}
.w-tabs-wrap {
    font-size: 14px;
    line-height: 18px;
}
.w-caption {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    border-bottom: 1px solid #BEBEBE;
    margin-bottom: 10px;
}
.w-caption__text {
    display: flex;
    color: #bebebe;
    min-width: 248px;
}
.w-caption__text-bold {
    font-weight: bold;
}
.w-caption__date {
    color: #bebebe;
}
.w-main:first-child {
    margin-top: 6px;
}
.w-main {
    display: flex;
    align-items: flex-start;
    margin-top: 6px;
}
.w-main__description {
    min-width: 232px;
    max-width: 232px;
}
.w-main__date {
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.fa-chevrion {
    background: url("../images/chevrion.svg") no-repeat;
}
.w-link {
    padding: 10px 20px;
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
}
.w-wrap-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.w-link__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.w-link__info {
    text-decoration: none;
    cursor: pointer;
}
.w-link__text {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}